<mat-dialog-content>
  <mat-toolbar>
    <span>Reservation Info</span>
  </mat-toolbar>

  <div class="example-container">
    <form [formGroup]="$form()">
      <mat-form-field>
        <mat-label>Customer Name</mat-label>
        <input matInput placeholder="Customer Name" formControlName="customerName" />
        @if ($f()['customerName'].errors?.['required'] && $f()['customerName'].touched) {
          <mat-error>Customer name is required</mat-error>
        }
        @if ($f()['customerName'].errors?.['minlength'] && $f()['customerName'].touched) {
          <mat-error>Name must be at least 3 characters</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Room</mat-label>
        <mat-select formControlName="idRoom">
          @for (r of $rooms(); track r.idRoom) {
            <mat-option [value]="r.idRoom">{{ r.number }} - {{ r.type }}</mat-option>
          }
        </mat-select>
        @if ($f()['idRoom'].errors?.['required'] && $f()['idRoom'].touched) {
          <mat-error>Room is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Check-In Date</mat-label>
        <input matInput [matDatepicker]="pickerIn" formControlName="checkInDate" [min]="$minDate()" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerIn"></mat-datepicker-toggle>
        <mat-datepicker #pickerIn></mat-datepicker>
        @if ($f()['checkInDate'].errors?.['required'] && $f()['checkInDate'].touched) {
          <mat-error>Check-in date is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Check-Out Date</mat-label>
        <input matInput [matDatepicker]="pickerOut" formControlName="checkOutDate" [min]="$f()['checkInDate'].value || $minDate()" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerOut"></mat-datepicker-toggle>
        <mat-datepicker #pickerOut></mat-datepicker>
        @if ($f()['checkOutDate'].errors?.['required'] && $f()['checkOutDate'].touched) {
          <mat-error>Check-out date is required</mat-error>
        }
      </mat-form-field>

      @if ($form().errors?.['checkOutBeforeCheckIn'] && $f()['checkOutDate'].touched) {
        <mat-error>Check-out date must be after check-in date</mat-error>
      }
    </form>

    <button mat-flat-button (click)="operate()">
      <span>OK</span>
      <mat-icon>done</mat-icon>
    </button>

    <button mat-flat-button class="cancel-button" (click)="close()">
      <span>Cancel</span>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</mat-dialog-content>
